---

---

<nav class="bg-gray-900 flex w-full px-16 text-white">
    <div class="w-1/2">
        <a href="/" class="flex items-center">
            <img class="w-24" src="/vazna_no_background.png" alt="Logo Vazna S.A de C.V | Servicios y comercializadora">
            <div>
                <h1 class="font-extrabold text-xl">Vazna S.A de C.V</h1>
                <h1 class="font-light">Servicios y comercializadora</h1>
            </div>
        </a>
    </div>
    <div class="flex items-center justify-end w-1/2">
        <ul class="flex flex-row">
            <li><a class="px-5 hover:text-blue-500 hover:font-bold" href="#">INICIO</a></li>
            <li><p class="px-5">|</p></li>
            <li><a class="px-5 hover:text-blue-500 hover:font-bold" href="#">SERVICIOS</a></li>
            <li><p class="px-5">|</p></li>
            <li><a class="px-5 hover:text-blue-500 hover:font-bold" href="#">SUCURSALES</a></li>
            <li><p class="px-5">|</p></li>
            <li><a class="px-10 border-2 hover:bg-blue-500 hover:font-bold border-blue-500 py-2" href="#">CONTACTANOS</a></li>
        </ul>
    </div>
</nav>